[settings]
profile=black
line_length=100
use_parentheses=True
skip_gitignore=True
known_standard_library=
    abc
    argparse
    asyncio
    dataclasses
    datetime
    enum
    fnmatch
    hashlib
    json
    jsonschema
    os
    pathlib
    random
    re
    subprocess
    sys
    time
    typing
known_third_party=
    calendar
    cdk8s
    constructs
    git
    imports
    kubernetes
    numbers
    requests
    tenacity
    toml
