[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
grafanalib = "~=0.7.1"
requests = "*"
pyyaml = "*"
rich = "*"

[requires]
python_version = "3.10"
