[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
constructs = "~=10.4.2"
cdk8s = "~=2.69.17"
cdk8s-plus-28 = "~=2.5.6"

[pipenv]
allow_prereleases = true
