# Base requirements definition for sequencer python venv.
# Actual requirements are installed from requirements.txt - to update it, run the following (note
# that if the python version in the CI changes from python3.9, use the respective python version):
# ```bash
# python3.9 -m venv reqs_venv
# . reqs_venv/bin/activate
# pip install -r scripts/requirements-gen.txt
# pip freeze > scripts/requirements.txt
# deactivate
# rm -r reqs_venv
# ```
cairo-lang==0.14.0.1
GitPython
# pytest-asyncio 1.1.0 depends on backports.asyncio.runner, which is not compatible with python 3.11
# or above.
pytest-asyncio<=1.0.0
sympy==1.12.0 # pypy3.9 issue.
